@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Francois+One&display=swap');
*{
  margin: 0;
  padding: 0;
}
html{
    overflow-x: hidden;

}