/* // image container for category */
.Imagecontainer {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .Imagecontainer img {
    width: 100%;
    height: auto;
  }
  
  .Imagecontainer .btn {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
   
    text-align: center;
  }
  
  .Imagecontainer .btn:hover {
    background-color: black;
  }
  
/* // image container for category */

.category-link a{
  text-decoration: none !important;
  color: black;
  line-height: normal;
}

/* ======= */
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin-top:  10px;
  margin-bottom: 5px;
  margin-right: 35px;
  position: relative;
  font-size: 1.2vw;
}
.navbar ul li a{
  text-decoration: none;
  color: antiquewhite;
  text-transform: uppercase;
}
/* b{
  font-size: 8vh;
} */
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #e9f7f5;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.homeIcon{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}