/* // image container for category */
.exploreCategory {
  position: absolute;
  width: 100vw;
  max-width: 500px;
  display: flex;
}

.Imagecontainer img {
  width: 100%;

  height: 250px;
}

.exploreCategory .btn {
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;

  text-align: center;
}

.exploreCategory .btn:hover {
  background-color: black;
}
@media (max-width: 900px) {
  .allimage {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
 

}

/* // image container for category */

.category-link a {
  text-decoration: none !important;
  color: black;
  line-height: normal;
}

/* ======= */
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 35px;
  position: relative;
  font-size: 1.2;
}
.navbar ul li a {
  text-decoration: none;
  color: antiquewhite;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #e9f7f5;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.homeIcon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.createListing {
  background-color: #d6ddf5;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  font-weight: 600;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.listingText {
  margin-top: 3rem;
  font-weight: 600;
}

.lisitingsList {
  padding: 0;
}
.sellorrent {
  margin-top: 12px;
}
.sellORrent {
  justify-content: flex-end;
}
.profileDetailsHeader {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

.personalDetailsText {
  font-weight: 600;
  margin-right: 60px;
}

.changePersonalDetails {
  cursor: pointer;
  font-weight: 600;
  color: #5b3cf9;
}

.profileCard {
  background-color: #eff3fb;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.profileDetails {
  display: flex;
  flex-direction: column;
}

.profileName,
.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive,
.profileNameActive {
  all: unset;
  margin: 0.3rem 0;
  font-weight: 600;
  width: 93.5%;
  background-color: #e3e7fa;
  padding: 10px;
  border-radius: 15px;
  margin-left: -3px;
}
.profileNameActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive {
  font-weight: 500;
}
.profileEmailActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileAddressActive {
  background-color: rgba(44, 44, 44, 0.1);
}
.profile {
  margin-bottom: 10rem;
  margin-top: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}
.profileHeader {
  display: flex;

  align-items: center;
}

.logOut {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #00cc66;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  border: 2px solid #00cc66;
  margin-left: 30px;
}
.listcontainer {
  width: 100%;
  margin-top: 3rem;
}
.yourprolistings {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 30px;
}
.bg1 {
  background-color: rgb(232, 230, 253);
  margin-top: 20px;
  border-radius: 15px;
  position: relative;
  width: 500px;
  padding: 30px;
  display: inline;
}
.formLabel {
  font-weight: 600;
  margin-top: 1rem;
  display: block;
}

.formButtons {
  display: flex;
  height: 50px;

  width: 100px;
}
 
.formButton,
.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile,
.formButtonActive {
  padding: 0.9rem 3rem;
  background-color: #ffffff;
  border: 2px solid #f9fcfb;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formButtonActive {
  background-color: #29b7f4;
  color: #ffffff;
  border: 2px solid #29b7f4;
  width: 100px;
}

.flex {
  display: flex;
}

.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile {
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
.formInputSmall,
.formInputFile {
  margin-right: 3rem;
  padding: 0.9rem 0.7rem;
  text-align: center;
}

.formInputName {
  padding: 0.9rem 1rem;
  width: 100%;
}

.formInputAddress {
  padding: 0.9rem 1rem;
  width: 100%;
}

.formPriceDiv {
  display: flex;
  align-items: center;
}

.formPriceText {
  margin-left: -1.5rem;
  font-weight: 600;
}

.imagesInfo {
  font-size: 0.9rem;
  opacity: 0.75;
}

.formInputFile {
  width: 100%;
}
.formInputFile::-webkit-file-upload-button {
  background-color: #29b7f4;
  border: none;
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  margin-right: 1rem;
}
.primaryButton {
  cursor: pointer;
  background: #29b7f4;
  border-radius: 1rem;
  border: 2px solid #29b7f4;
  padding: 0.85rem 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createListingButton {
  margin-top: 3rem;
}

.offers {
  margin-bottom: 10rem;
}

.offerBadge {
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 1rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  opacity: 0.75;
}
.listIcon {
  height: 65px;
  width: 65px;
}
.lineIcon {
  height: 70px;
  width: 150px;
}
.loader {
  /* width: 100vw;
  height: 100vh; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exploreCategories {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  /* margin-right: 20px; */
}
.exploreCategories a {
  width: 48%;
}

.exploreCategoryImg {
  min-height: 115px;
  height: 35vh;
  width: 95%;
  border-radius: 1.5rem;
  object-fit: cover;
  /* margin: 0 auto; */
}

.exploreCategoryName {
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
.exploreCategories{
  margin-left:40px;
  margin-right: 10px;
}

@media screen and (max-device-width: 480px)
and (orientation: portrait) {

  .exploreCategories {
    display: block;
    margin-left:25px;
    justify-content: space-between;
  }
  .exploreCategories a {
    width: 48%;
  }
  
  .exploreCategoryImg {
    min-height: 115px;
    height: 25vh;
    width: 95%;
    border-radius: 1.5rem;
    object-fit: cover;
    margin: 0 auto;
  }
  .img{
    margin-left: 20px;
  }
  
  .exploreCategoryName {
    font-weight: 500;
    text-align: center;
    text-decoration: none;
  }
}